.TodoList {
    background: white;
    width: 512px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */
    margin: auto;
    margin-top: 4rem;
}

.TodoList .title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    background: orange;
    color: black;
}